---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - Isacc Martinez</title>
	</head>

	<body>

		<!-- 
			pageheader
			showcase
			features
			pagecontent
			pagefooter
		 -->
	
		<!-- Begin Pageheader -->
		<header id="pageheader">
	
			pageheader
	
		</header>
		<!-- End Pageheader -->
	
	
		<!-- Begin Showcase -->
		<section id="showcase">
	
			showcase
		
		</section>
		<!-- End Showcase -->
	
	
		<!-- Begin Features -->
		<section id="features">
	
			features
	
		</section>
		<!-- End Features -->
	
	
		<!-- Begin Pagecontent -->
		<main id="pagecontent">
	
			pagecontent
	
		</main>
		<!-- End Pagecontent -->
	
	
		<!-- Begin Semesters -->
		<section id="semesters">
	
			semesters
	
		</section>
		<!-- End Semesters -->
	
		<!-- Begin Pagefooter -->
		<footer id="pagefooter">
	
			pagefooter
	
		</footer>
		<!-- End Pagefooter -->
	
	
	</body>
</html>
