---
import "../styles/global.css";
import PageHeader from "../components/PageHeader.astro"
import PageFooter from "../components/PageFooter.astro"
import Features from "../components/Features.astro"
import PageContent from "../components/PageContent.astro"
import Semesters from "../components/Semesters.astro"
---


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Isacc Martinez Portfolio</title>
</head>


<>
<!--
pageheader
showcase
features
pagecontent
semesters
pagefooter
-->

<PageHeader />


<!-- Begin Showcase Section -->
<section id="showcase">

    <div id="showcasetext">

        <h1>Isacc Martinez</h1>
        <h2>Portfolio</h2>

        <blockquote>
            Success is a product of consistency. - Andrew Tate
        </blockquote>

    </div>

    <div id="showcaseimage">

        <img src="/images/technologiesbig.png" alt="Technologies" id="logosbig" />

        <img src="/images/technologiessmall.png" alt="Technologies" id="logossmall" />

    </div>

    <p id="showcaseintro">
        This is a showcase of my web design/development work.
    </p>

</section>
<!-- End Showcase Section -->


<Features />

<PageContent />

<Semesters />

<PageFooter />

</body>

</html>