<!-- Footer Section -->
<footer id="pagefooter">
    <div class="container">

        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>
                When I was young, I though that money was the most important thing in life; now that I am old, I know that it is. - Oscar Wilde
            </blockquote>
        </div>
        <!-- End Quote -->

        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <li><a href="index.html"></a>Home</li>
            </ul>
            <ul>
                <li><a href="about.html"></a>About</li>
            </ul>
            <ul>
                <li><a href="blog.html"></a>Blog</li>
            </ul>
        </div>
        <!-- End Footerlinks -->

    </div>

    <!-- End Pagefooter Container -->
    </footer>

    <!-- End Pagefooter -->