<!-- Semesters Section -->
<section id="semesters">

    <div class="container">

        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">

                <img class = "thumb" src="/images/thumbnail.gif" alt="VS Code" />

                <img class = "thumb" src="/images/thumbnail.gif" alt="Git" />

                <img class = "thumb" src="/images/thumbnail.gif" alt="Mark Down" />

                <img class = "thumb" src="/images/thumbnail.gif" alt="JavaScript" />

                <img class = "thumb" src="/images/thumbnail.gif" alt="Photoshop" />

                <img class = "thumb" src="/images/thumbnail.gif" alt="Github" />

            </div>
        </section>

        <h3>Semesters 1</h3>
        <ul class="assignments">

            <li>
                <a href="#" target="new">A001 - Description</a>
            </li>

            <li>
                <a href="#" target="new">A002 - Description</a>
            </li>

            <li>
                <a href="#" target="new">A003 - Description</a>
            </li>

            <li>
                <a href="#" target="new">A004 - Description</a>
            </li>

        </ul>

        <h3>Semesters 2</h3>
        <ul class="assignments">

            <li>
                <a href="#" target="new">A001 - Description</a>
            </li>

            <li>
                <a href="#" target="new">A002 - Description</a>
            </li>

            <li>
                <a href="#" target="new">A003 - Description</a>
            </li>

            <li>
                <a href="#" target="new">A004 - Description</a>
            </li>

        </ul>

    </div>
    <!-- End Container -->

    </section>
    
    <!-- End Semesters -->